.dropzone {
  text-align: center;
  padding-top: 40px;
}

.dropzone p {
  margin-top: 10px;
}

.previewImage {
  height: 200px;
  width: 200px;
}

.logo {
  height: 72px;
}

.controls {
  margin-bottom: 20px;
}
