.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.SoundOnButton, .SoundOffButton {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 8px;
  margin-right: 10px;
  outline: none;
  box-sizing: content-box;
  font-size: 11px;
}

.Icon {
  width: 30px;
  height: 30px;
}

.Icon-shape {
  fill: #fff;
}

.VolumeSlider {
  width: 8px;
  height: 100px;

  position: relative;
}

