body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #222;
}

.navbar {
  border: 0;
}

.container {
  max-width: 750px;
}

.main {
    position: relative;
    padding: 40px 16px 24px;
    font-size: 12px;
}

.main:before {
    position: absolute;
      top: 16px;
      left: 16px;
      font-family: $font;
      font-size: 10px;
      color: $gray;
      letter-spacing: 2px;
      line-height: 14px;
text-transform: uppercase;
}

